<div class="about-main">
  <h1>OUR STORY & PHILOSOPHY</h1>
  <div class="about-paragraph">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente quis
      quae voluptates repellendus iusto mollitia dolore est? Dolorum nesciunt
      esse molestias, totam quasi temporibus adipisci error quae tenetur
      deserunt dolorem. Lorem ipsum, dolor sit amet consectetur adipisicing
      elit. Minus mollitia doloremque ipsam, quo dignissimos fugit, voluptate
      unde veritatis pariatur suscipit dolor perspiciatis ex maiores autem
      dolore ad, debitis in eaque?
    </p>
  </div>
</div>
<div class="about-image">
  <img src="../../assets/Craftsman.jpg" />
</div>
