<div class="navbar">
  <a id="logo" [routerLink]="['/home']"
    ><img src="assets/logo.png" height="30px"
  /></a>
  <a [routerLink]="['/home']">Home</a>
  <a [routerLink]="['/about']">About</a>
  <a [routerLink]="['/shop']">Shop</a>
  <a [routerLink]="['/contact']">Contact</a>

  <a id="floatRight1" [routerLink]="['/cart']">
    <img src="assets/shoppingCart.jpg" height="30px" alt="Shopping cart" />
  </a>
  <a id="floatRight" [routerLink]="['/login']">
    <span>Log in&nbsp;&nbsp;</span>
    <img src="assets/login.png" height="30px" />
  </a>
</div>

<div class="sidenav">
  <a href="#"><img class="sidepic side1" src="assets/facebook-logo.png"/></a>
  <a href="#"><img class="sidepic" src="assets/instagram-logo.png"/></a>
  <a href="#"><img class="sidepic" src="assets/twitter.png"/></a>
  <a href="#"><img class="sidepic" src="assets/pinterest.png"/></a>
</div>
