<div class="row">
  <div class="col-5">
    <p>
      Fortisi Home Design <br /><br />

      A: Laze Nancica 7<br />
      Novi Sad, 21000<br />
      T: 123-456-7890<br />
      E: info@my-mail.com

      <br /><br />

      MON - FRI: 7am - 10pm<br />
      SATURDAY: 8am - 10pm<br />
      SUNDAY: 8am - 11pm

      <br /><br />

      FAQ / Shipping & Returns /<br />
      Store Policy /<br />
      Payment Methods
    </p>
  </div>
  <div class="col-7">
    <form>
      <input
        class="formComp col-5"
        type="text"
        id="name"
        name="name"
        placeholder="N A M E"
      />
      <span class="col-2"></span>
      <input
        class="formComp col-5"
        type="text"
        id="email"
        name="email"
        placeholder="E M A I L"
      /><br />
      <input
        class="formComp col-10"
        type="text"
        id="subject"
        name="subject"
        placeholder="S U B J E C T"
      /><br />
      <textarea
        class="formComp col-10"
        id="message"
        name="message"
        placeholder="M E S S A G E"
        rows="4"
        style="width:500px;"
      ></textarea
      ><br />
      <input class="formComp sub" type="submit" value="S U B M I T" />
    </form>
    <p class="min-title">Get our Newsletters:</p>
    <div class="newsletterBox">
      <input
        class="newsletterField"
        type="text"
        id="newsletter"
        name="newsletter"
        placeholder="Your email here..."
      />
      <button class="newsletterButton">Subscribe Now!</button>
    </div>
  </div>
  <iframe
    frameborder="1"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://www.openstreetmap.org/export/embed.html?bbox=19.819974303245544%2C45.2458494607002%2C19.827216267585754%2C45.248500786310146&amp;layer=mapnik&amp;marker=45.247175138974114%2C19.82359528541565"
    style="border: 1px solid black"
  ></iframe>
</div>
