<main>
  <div class="home-intro">
    <h1><i>Fortisi Home Design</i><br /><i>-second name for Stylish-</i></h1>
    <h2>Beauty that comes from <br />trust</h2>
    <a [routerLink]="['/shop']"><button>Shop now</button></a>
  </div>

  <div class="home-paragraph">
    <h2>POWER OF THE IDEA AND THE ART OF CRAFTMANSHIP</h2>
    <h3>
      In our work, the experience of 60 years joins joinery with twenty years of
      interior design. Let yourself be inspired by the unique projects that we
      were able to realize for demanding clients. <br />
      The special thing about our work comes from a holistic view of things,
      coupled with an condinitional commitment to quality.
    </h3>
  </div>

  <div class="home-offer">
    <div class="offer-tile">
      <img src="assets/nighttable.jpg" />
      <p>Night table</p>
      <p class="price">RSD 9.500,00</p>
    </div>
    <div class="offer-tile">
      <img src="assets/radniSto.jpg" />
      <p>Work desk</p>
      <p class="price">RSD 40.000,00</p>
    </div>
    <div class="offer-tile">
      <img src="assets/krevet.jpg" />
      <p>Sofa</p>
      <p class="price">RSD 35.000,00</p>
    </div>
    <div class="offer-tile">
      <img src="assets/stolica_sto.jpg" />
      <p>Chair</p>
      <p class="price">RSD 5.000,00</p>
    </div>
    <div class="offer-tile">
      <img src="assets/kitchen.jpg" />
      <p>Kitchen</p>
      <p class="price">RSD 189.000,00</p>
    </div>
    <div class="offer-tile">
      <img src="assets/bedRoom.jpg" />
      <p>Bedroom</p>
      <p class="price">RSD 350.000,00</p>
    </div>
  </div>
  <a [routerLink]="['/shop']" id="loadMore">
    <button class="loadmore">Load more</button>
  </a>
</main>
